<div class="modal fade" id="bonusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Thanks for working on this task!</h4>
            </div>
            <div class="modal-body">
                <p>Here is your payment token. In case the HIT has expired, please contact the Requester Account (adb@vt.edu) with this bonus token.</p>
                <div class="text-center">
                  <pre id="bonusToken"></pre>
                </div>
            </div>
        </div>
    </div>
</div>
