<div class="modal fade" id="gameOverModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
{#                        aria-hidden="true">&times;</span></button>#}
                <h4 class="modal-title" id="myModalLabel">Game Over</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">Saving progress . . .</div>
                <br>
                <br>
                <b>Note:</b> Do not refresh or close the page while we are saving the game. It can sometimes take 1-3 minutes to save the game.
                <!-- <br>
                <br>
                <div class="text-center">
                  <button type="button" class="btn btn-default" id="resubmitGameBtn2">
                      Resubmit game
                  </button>
                </div> -->
            </div>
        </div>
    </div>
</div>
