<div class="modal fade" id="instructionsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h3>Bonus Game</h3>

                <div style="text-align: left;">

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title">
                              Important Instructions
                          </h3>
                      </div>
                      <div class="panel-body">
                        <ul>
                          <li>For the bonus game, you will be compensated only for your performance. Higher the score, higher the bonus. Bonus will be sent to you via Amazon Mechanical Turk as a bonus.</li>
                          <li>At the end of the bonus game, you will receive a bonus token. You need to enter the bonus token when you submit the HIT.</li>
                          <li>In case your HIT expires, while you are playing the bonus game, contact the Requester Account (adb@vt.edu) with the bonus token.</li>
                        </ul>
                          <br>
                          <div class="text-center">
                              <button type="button" class="btn btn-success " data-dismiss="modal">Start</button>
                          </div>
                      </div>
                  </div>


                </div>


            </div>
        </div>
    </div>
</div>
