<div class="modal fade" id="irbModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 98%;">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h3>VIRGINIA POLYTECHNIC INSTITUTE AND STATE UNIVERSITY <br>
                    <small>Informed Consent for Participants
                        in Research Projects Involving Human Subjects
                    </small>
                </h3>

                <div style="text-align: left;">
                    <p>

                    </p>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <b>Title of Project:</b> GraphSpace: Using Crowdsourced Design to Visualize Effects of
                                Environmental Chemicals on Signaling Networks
                            </h3>
                        </div>
                        <div class="panel-body">
                            <b>Investigator(s):</b>
                            <ul>
                                <li>Dr. Kurt Luther (Assistant Professor of Computer Science, Virginia Tech) <br>
                                    Email: kluther@vt.edu Phone: 540-231-4857
                                </li>
                                <li>Dr. T.M. Murali (Professor of Computer Science, Virginia Tech)</li>
                                <li>Aditya Bharadwaj (Ph.D. Student, Virginia Tech)</li>
                                <li>Lee Lisle (M.S. Student, Virginia Tech)</li>
                            </ul>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">I. Purpose of this Research Project</h3>
                        </div>
                        <div class="panel-body">
                            You are being asked to participate in a research study. The purpose of this study is to
                            understand how
                            people can make graph visualizations easier to understand. The researchers will ask you to
                            use our
                            software tool to look at graphs and create new layouts for them using some guidelines. The
                            results of
                            this study may be published in academic conferences or journals or included in student
                            theses and
                            dissertations. We are recruiting about 1000 adult men and women from around the world for
                            this section
                            of the study. You must be at least 18 years old to participate.
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">II. Procedures</h3>
                        </div>
                        <div class="panel-body">
                            If you agree to participate, we will ask you to do the following activities:
                            <ul>
                                <li>Use our software to create new layouts for graphs of biological data.</li>
                            </ul>

                            The entire procedure will take place online. It should take less than 2 minutes to complete
                            the HIT and 20 minutes to complete the bonus task (optional).
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">III. Risks</h3>
                        </div>
                        <div class="panel-body">
                            The risks of the study are minimal and are similar to what you would encounter doing
                            everyday computer
                            tasks like searching the Internet, writing a document, or checking email.

                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">IV. Benefits</h3>
                        </div>
                        <div class="panel-body">
                            You will not receive any benefits by participating in this study. However, the study will
                            help us
                            develop new techniques for helping people understand complex graph data. This could benefit
                            society by
                            helping scientists understand biological data that leads to new medical discoveries. It
                            could also help
                            other kinds of professionals who work with graph data.

                            No promise or guarantee of benefits has been made to encourage you to participate.


                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">V. Extent of Anonymity and Confidentiality</h3>
                        </div>
                        <div class="panel-body">
                            We may share your anonymized study data in publications or in data sets on our project
                            website. If we
                            use your data for these purposes, we will use the numeric code instead of your name to refer
                            to you. We
                            may also aggregate your data with other participants when reporting our results to minimize
                            the
                            possibility of identifying you. Your personal information will never be shared outside the
                            research
                            team.

                            The Virginia Tech (VT) Institutional Review Board (IRB) may view the study’s data for
                            auditing purposes.
                            The IRB is responsible for the oversight of the protection of human subjects involved in
                            research.


                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">VI. Compensation</h3>
                        </div>
                        <div class="panel-body">
                            You will be compensated $7.25 per hour for your participation in the HIT. Payment will be sent to you
                            via Amazon Mechanical Turk. <br><br>

                            For the bonus task, you will be compensated only for your performance. Higher the score, higher the bonus. Bonus will be sent to you via Amazon Mechanical Turk as a bonus.
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">VII. Freedom to Withdraw</h3>
                        </div>
                        <div class="panel-body">
                            It is important for you to know that you are free to withdraw from this study at any time
                            without
                            penalty. You are free not to answer any questions that you choose or respond to what is
                            being asked of
                            you without penalty.

                            Please note that there may be circumstances under which the investigator may determine that
                            a subject
                            should not continue as a subject.

                            Should you withdraw or otherwise discontinue participation, you will be compensated for the
                            portion of
                            the project completed in accordance with the Compensation section of this document.

                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                VIII. Questions or Concerns
                            </h3>
                        </div>
                        <div class="panel-body">
                            Should you have any questions about this study, you may contact one of the research
                            investigators whose
                            contact information is included at the beginning of this document.

                            Should you have any questions or concerns about the study’s conduct or your rights as a
                            research
                            participant, or need to report a research-related injury or event, you may contact the
                            Virginia Tech
                            Institutional Review Board at <a href="mailto:#">irb@vt.edu</a> or (540) 231-3732.

                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                IX. Subject's Consent
                            </h3>
                        </div>
                        <div class="panel-body">
                            I have read the Consent Form and conditions of this project. I have had all my questions
                            answered. I hereby acknowledge the above and give my voluntary consent.
                            <br>
                            <br>
                            <div class="text-center">
                                <button type="button" class="btn btn-success" data-dismiss="modal">I consent</button>
                            </div>

                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
