/*
// game-graph.css
// stylesheet for the main game
*/

/* TABLE OF CONTENTS
	Graph Style
		Canvas
		Status Info
		    Status Image
	Sidebar Style
	    Footer
		    Score
		    Finished Button
		Nav
*/

/* We are doing a desktop-first design approach */

