/*/////////////////////////////////////////////////
// game-selection.css
// stylesheet for the selection page

/* TABLE OF CONTENTS
	Image Effects
	    Image Shape
	    Hover
	    Caption over Image
	        Caption Button
	Footer
*/

/* We are doing a desktop-first design approach */

/* IMAGE EFFECTS */
/* Image shape */
.img-rounded {
    -moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
    width: 140px;
    height: 140px;
}

.scaled {
    width: 100%;
    height: 200px;
    background-color: ghostwhite;
}

.card-deck .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Hover */
.card:hover .caption {
    display: flex;
}

/* Caption over Image */
.caption {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    text-align: center;

    justify-content:center;
    align-items:center;

    z-index: 100;

    background:#000;
    background: -webkit-linear-gradient(bottom, #b3e0ff 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: none;
}