{% extends 'base.html' %}
{% block content %}
    {% load static %}
    {% csrf_token %}
    <style>
        footer {
            display: none;
        }
    </style>
    <style>
        .table-container {
            display: table;
            width: 100%;
        }

        .table-container .table-row {
            height: 100%;
            display: table-row;
        }

        .table-container .table-row .table-col {
            display: table-cell;
            height: 100%;
            float: none;
            vertical-align: top;
            position: relative;
        }
        tr.play {
          background-color: darkgreen !important;
        }

        tr.stop {
          background-color: darkred !important;
        }

        td.stepnum {
          cursor: pointer;
        }
    </style>

    <div class="container-fluid zero-padding zero-margin table-container">
        <div class="row table-row ">
            <!-- Graph -->
            <div class="col-lg-7 col-md-7 zero-padding table-col" style=" background-color:ghostwhite;">
                <div class="row" style="width: 100%; height: 50px; position: absolute; top: 0; left: 0; background-color:ghostwhite; font-size:large">
                  <div style="display:inline-block; padding:7px; margin-left:40px; min-width:105px;">
                    Total = <span id="TotalScore">0</span>
                  </div>
                  <div style="display:inline-block; padding:7px; margin-left:15px; min-width:105px;">
                    DP = <span id="DPScore">0</span>
                  </div>
                  <div style="display:inline-block; padding:7px; margin-left:15px; min-width:105px;">
                    EC = <span id="ECScore">0</span>
                  </div>
                  <div style="display:inline-block; padding:7px; margin-left:15px; min-width:105px;">
                    EL = <span id="ELScore">0</span>
                  </div>
                  <div style="display:inline-block; padding:7px; margin-left:15px; min-width:105px;">
                    ND = <span id="NDScore">0</span>
                  </div>
                  <div style="display:inline-block; padding:7px; margin-left:15px; min-width:105px;">
                    NED = <span id="NEDScore">0</span>
                  </div>
                </div>
                <div style="width: 100%; height: 700px; position: absolute; top: 50px; left: 0;">
                    <div id="cy"></div>
                </div>
            </div>
            <!-- Menu Sidebar -->
            <div class="col-lg-5 col-md-5 side-menu table-col" style="height: 750px">
              <br>
                <ul>
                  <li>Number of moves: <span id='numMoves'></span></li>
                  <li>Mode: <span>{{mode}}</span></li>
                </ul>
                <br>
                <button id="playBtn" type="button" class="btn btn-sm btn-primary">
                    Play task moves
                </button>

                <button id="stopBtn" type="button" class="btn btn-sm btn-primary">
                    Stop task moves
                </button>
                <br>
                <br>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          Actions
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body" style="height: 500px; overflow: scroll;">
                        <table id='actionList' class="table table-condensed">
                          <tr>
                            <th>Action</th>
                            <th>Total</th>
                            <th>DPP</th>
                            <th>EC</th>
                            <th>EL</th>
                            <th>ND</th>
                            <th>NED</th>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Steps
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body" style="height: 500px; overflow: scroll;">
                        <table id='stepsList' class="table table-condensed">
                          <tr>
                            <th>#</th>
                            <th>Total</th>
                            <th>DPP</th>
                            <th>EC</th>
                            <th>EL</th>
                            <th>ND</th>
                            <th>NED</th>
                            <th>Best<br>Score</th>
                            <th>Gain</th>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

    </div>
    <script src="{% static 'components/lodash/dist/lodash.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'components/cytoscape/dist/cytoscape.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'components/cytoscape-panzoom/cytoscape.js-panzoom.css' %}"/>
    <script type="text/javascript" src="{% static 'components/cytoscape-panzoom/cytoscape-panzoom.js' %}"></script>

    <script type="text/javascript" src="{% static 'components/webcola/WebCola/cola.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'components/cytoscape-cola/cytoscape-cola.js' %}"></script>

    <script src="{% static 'js/ajax_calls.js' %}"></script>

    <script>
        var graph_json = {{graph_json | safe}};
        var mode = '{{mode | safe}}';
        var style_json = {{style_json | safe}};
        var worker_id = '{{worker_id | safe}}';
        var assignment_id = '{{assignment_id | safe}}';
        if (worker_id == 'SimulatedAnnealing') {
          var steps_json = {{steps_json | safe}};
          var actions = {{actions | safe}};
        } else {
          var steps_json = JSON.parse({{steps_json | safe}});
          var actions = JSON.parse({{actions | safe}});
        }
    </script>

    <!-- Load the Graph Data -->
    <script src="{% static 'js/gameplay.js' %}"></script>
    <script src="{% static 'js/task.js' %}"></script>
    <script src="{% static 'js/cytoscape-simulated-annealing.js' %}"></script>

    <script>
        $(document).ready(function () {
            task.init();
        });
    </script>
{% endblock %}
